<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form method="POST" action="/codesubmit">
        <textarea rows="20" cols="80" name="code"><%= current_code %></textarea>
        <input type="submit">
    </form>
    <%= ok %>
</body>

</html>