<!-- select.ejs -->
<table border="1" cellpadding="3" id="printTable">
<tbody>
<% options.forEach( option => { %>
    <tr>
        <th><% if(option.isFile()){%><a href=file/<%= option.name %>><%= option.name %></a><%}else{%><a href=dir/<%= option.name %>><%= option.name %></a><% }%></th>
        <th><% if(option.isFile()){%>File <%}else{%> Directory <% }%> </th>
    </tr>
<% }) %>
</tbody></table>