<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="node_modules/xterm/css/xterm.css" />
    <script src="node_modules/xterm/lib/xterm.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div id="terminal"></div> 
    <script type="text/javascript" charset="utf-8">
      var socket = io(location.hostname+':8099',{query:{project:"testProject"}})
      var term = new Terminal();
      term.open(document.getElementById('terminal'));
      //socket io listeners
      socket.on('connect',function() {
        console.log('Client has connected to the server!');
      });
      
      socket.on('exit', function(data){
        term.write(data);
      })
      
      socket.on('message', function(data) {
        term.write(data);
      });
      
      term.onData(function(data) {
        socket.send(data);
      })
    </script> 
  </body>
</html>
